<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TinyWhatsApp</title>
    <link rel="stylesheet" href="/mainPage.css">
    <script src="/mainPage.js"></script>
</head>
<body>
<div class="container">
    <div class="chats">
        <h1>Deine Chats</h1>
        <div class="chat active">Chat 1</div>
        <div class="chat">Chat 2</div>
        <div class="chat">Chat 3</div>
    </div>
    <div class="messages">
        <div class="message">Nachricht 1</div>
        <div class="message">Nachricht 2</div>
        <div class="message">Nachricht 3</div>
    </div>
</div>
</body>
</html>
